<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Doctor Interface</h1>
        <div>Welcome, {{ session.username }}!</div>
    </header>

    <section class="container">
        <h2>Patients:</h2>
        <ul>
            {% for patient in patients %}
                <li>
                    <a href="{{ url_for('update_patient', patient_id=patient._id) }}">
                        <strong>{{ patient.name }}</strong> (Age: {{ patient.age }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>